In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import warnings
warnings.filterwarnings("ignore")

In [23]:
path = 'data/'
pendentes = pd.read_table(path + 'p.txt', index_col=None, header=0)

pendentes.head()

,municipio,sucursal,localidade,unidade_operativa,zona,acometida_retirada,numero_cliente,numero_ordem,tipo_ordem,tipo_servico,...,valor_cargo,eletricista,empreiteira,estado_cliente_cod,estado_cliente_nome,descripcion,numero_tdc,estado_eorder,aging,tipo_relig
0,0.0,100.0,1140.0,NaN,NaN,A,44039521,62196031,ATC,ACI,...,NaN,NaN,NaN,0.0,ATIVO,ORDEM INGRESSADA,NaN,NaN,< 10 dias,NaN
1,0.0,100.0,1130.0,NaN,NaN,A,52564756,62196272,ATC,ACI,...,NaN,NaN,NaN,0.0,ATIVO,ORDEM INGRESSADA,NaN,NaN,< 10 dias,NaN
2,0.0,100.0,1120.0,NaN,NaN,A,41052117,62196396,ATC,ACI,...,NaN,NaN,NaN,0.0,ATIVO,ORDEM INGRESSADA,NaN,NaN,< 10 dias,NaN
3,0.0,100.0,1150.0,NaN,NaN,A,934324,62196644,ATC,ACI,...,NaN,NaN,NaN,0.0,ATIVO,ORDEM INGRESSADA,NaN,NaN,< 10 dias,NaN
4,0.0,100.0,1240.0,NaN,NaN,A,51213504,62196745,ATC,ACI,...,NaN,NaN,NaN,0.0,ATIVO,ORDEM INGRESSADA,NaN,NaN,< 10 dias,NaN

In [24]:
pendentes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30281 entries, 0 to 30280
Data columns (total 33 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   municipio            30278 non-null  float64
 1   sucursal             30278 non-null  float64
 2   localidade           30278 non-null  float64
 3   unidade_operativa    0 non-null      float64
 4   zona                 0 non-null      float64
 5   acometida_retirada   30281 non-null  object
 6   numero_cliente       30281 non-null  int64
 7   numero_ordem         30281 non-null  int64
 8   tipo_ordem           30281 non-null  object
 9   tipo_servico         30281 non-null  object
 10  des_servico          30281 non-null  object
 11  etapa                30280 non-null  object
 12  descricao_etapa      30280 non-null  object
 13  cod_retorno          2635 non-null   object
 14  descricao_retorno    2624 non-null   object
 15  estado               30281 non-null  int64
 16  descricao_estado     0 non-null      float64
 17  data_ingresso        30281 non-null  object
 18  data_estado          30281 non-null  object
 19  data_retorno         2667 non-null   object
 20  tempo_ordem          30281 non-null  object
 21  tempo_max_servico    30281 non-null  int64
 22  status_ordem         30281 non-null  object
 23  valor_cargo          28146 non-null  float64
 24  eletricista          2735 non-null   object
 25  empreiteira          25510 non-null  object
 26  estado_cliente_cod   30278 non-null  float64
 27  estado_cliente_nome  30278 non-null  object
 28  descripcion          30281 non-null  object
 29  numero_tdc           24446 non-null  float64
 30  estado_eorder        24968 non-null  object
 31  aging                30281 non-null  object
 32  tipo_relig           8187 non-null   object
dtypes: float64(9), int64(4), object(20)
memory usage: 7.6+ MB